@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-family: $deffont;
  font-size: $deffz;
  color: $defcol;
  font-weight: $defweight;
  line-height: $deflh;
  /*padding-top: $menuh;*/
  overflow-x: hidden;
  @media screen and (max-width: $break){
    padding-top: $menumobh;

  }
}
