@mixin transit($target: all, $duree: .3s) {
  transition: $target $duree;
}

@mixin bgt($color: $noir, $transp:.8){
  background-color: rgba($color, $transp);
}
@mixin border($color: $blanc, $epais:1px){
  border: $epais solid $color;
}
