%bgf {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

%bgbl {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

%bgaf {
  background-size: contain;
  background-color: $blanc;
  background-position: center center;
  background-repeat: no-repeat;
}

%greyify{
  position: relative;
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    @extend %bgf;
    background-image: url(../img/textures/greyify.png);
  }
}
