// De jolis boutons automatisés

.bouton {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid;
  @include transit();
  color: $blanc;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;

  &.pill {
    border-radius: 50px;

    &:hover, &:focus {
      background-color: transparent;
      background-image: none;
      text-decoration: none;
    }
  }
}

//Gestion des images
.alignright {
  float: right;
  margin: 0 0 30px 30px;
}

.alignleft {
  float: left;
  margin: 0 30px 30px 0;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

picture img {
  margin-bottom: 0;
}

// Boutons de slider
.slider_controls {
  display: table;

  .slick_nav {
    display: table-cell;
    padding: 2px;
    cursor: pointer;
  }
}

// Une classe permettant d'avoir des colonnes de même hauteur (non dispo par défaut dans materialize). Ajouter simplement la classe autoadjust à un row.
.row.autoadjust{
  &>.col{
    display: flex;
    align-items: center
  }
}

// Reproduit le comportement de la classe de bootstrap permettant de supprimer les gouttières (non dispo par défaut dans materialize). Ajouter simplement la classe nogutters à un row.
.row.nogutters{
  margin-left: 0;
  margin-right: 0;
  >.col{
    padding-right: 0;
    padding-left: 0;
  }
}
