//Définition des couleurs
$noir:#000;
$blanc:#fff;

//Définition de valeurs fixes
$break: 990 px; /* Point de rupture du passage en desktop/mobile */
$deffont: Roboto;  /* Fonte par défaut */
$defweight: 300;  /* Graisse par défaut */
$deffz:16px;  /* Font size par défaut */
$deflh:1.2;  /* Line height par défut */
$defcol:$noir; /* Couleur par défaut */
$menuh:200px;  /* Hauteur du menu en desktop */
$menumobh:60px;  /* Hauteur du menu en mobile */
$mainnavh:68px; /* Hauteur du menu principal */
$defwidth:1200px; /*Largeur par défault des pages*/

