/*
  Created by Pierre Bernardeau.
  For Influa
  Date: 24/12/2019
  Time: 11:58
  
  --- _player ---
  
        _
    ,--'_`--.    
  ,/( \   / )\.  
 //  \ \_/ /  \\ 
|/___/     \___\|
((___       ___))    Join the Empire !!!  ﴾̵ ̵◎̵ ̵﴿
|\   \  _  /   /|
 \\  / / \ \  // 
  `\(_/___\_)/'
    `--._.--'
  
 */

.player{
  height: 25px;
  width: 25px;
  margin: auto;
  border:2px dotted $noir;
  border-radius: 25px;

}