@charset "UTF-8";
/*
STYLES
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Point de rupture du passage en desktop/mobile */
/* Fonte par défaut */
/* Graisse par défaut */
/* Font size par défaut */
/* Line height par défut */
/* Couleur par défaut */
/* Hauteur du menu en desktop */
/* Hauteur du menu en mobile */
/* Hauteur du menu principal */
/*Largeur par défault des pages*/
.bouton {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid;
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}
.bouton.pill {
  border-radius: 50px;
}
.bouton.pill:hover, .bouton.pill:focus {
  background-color: transparent;
  background-image: none;
  text-decoration: none;
}

.alignright {
  float: right;
  margin: 0 0 30px 30px;
}

.alignleft {
  float: left;
  margin: 0 30px 30px 0;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

picture img {
  margin-bottom: 0;
}

.slider_controls {
  display: table;
}
.slider_controls .slick_nav {
  display: table-cell;
  padding: 2px;
  cursor: pointer;
}

.row.autoadjust > .col {
  display: flex;
  align-items: center;
}

.row.nogutters {
  margin-left: 0;
  margin-right: 0;
}
.row.nogutters > .col {
  padding-right: 0;
  padding-left: 0;
}

@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-size: 16px;
  color: #000;
  font-weight: 300;
  line-height: 1.2;
  /*padding-top: $menuh;*/
  overflow-x: hidden;
}
@media screen and (max-width: 990 px) {
  body {
    padding-top: 60px;
  }
}

/*
HEADER

 */
/*
Footer
 */
/*
  Created by Pierre Bernardeau.
  For Influa
  Date: 05/11/2019
  Time: 10:28

  --- _accueil ---

        _
    ,--'_`--.    
  ,/( \   / )\.  
 //  \ \_/ /  \\ 
|/___/     \___\|
((___       ___))    Join the Empire !!!  ﴾̵ ̵◎̵ ̵﴿
|\   \  _  /   /|
 \\  / / \ \  // 
  `\(_/___\_)/'
    `--._.--'

 */
/*
  Created by Pierre Bernardeau.
  For Influa
  Date: 24/12/2019
  Time: 11:27

  --- _grid ---

        _
    ,--'_`--.    
  ,/( \   / )\.  
 //  \ \_/ /  \\ 
|/___/     \___\|
((___       ___))    Join the Empire !!!  ﴾̵ ̵◎̵ ̵﴿
|\   \  _  /   /|
 \\  / / \ \  // 
  `\(_/___\_)/'
    `--._.--'

 */
.grid {
  margin: auto;
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: 30px;
}
.grid .case {
  border: 1px solid #000;
  z-index: 1;
}

/*
  Created by Pierre Bernardeau.
  For Influa
  Date: 24/12/2019
  Time: 11:58

  --- _player ---

        _
    ,--'_`--.    
  ,/( \   / )\.  
 //  \ \_/ /  \\ 
|/___/     \___\|
((___       ___))    Join the Empire !!!  ﴾̵ ̵◎̵ ̵﴿
|\   \  _  /   /|
 \\  / / \ \  // 
  `\(_/___\_)/'
    `--._.--'

 */
.player {
  height: 25px;
  width: 25px;
  margin: auto;
  border: 2px dotted #000;
  border-radius: 25px;
}

/*# sourceMappingURL=styles.css.map */
