/*
  Created by Pierre Bernardeau.
  For Influa
  Date: 24/12/2019
  Time: 11:27
  
  --- _grid ---
  
        _
    ,--'_`--.    
  ,/( \   / )\.  
 //  \ \_/ /  \\ 
|/___/     \___\|
((___       ___))    Join the Empire !!!  ﴾̵ ̵◎̵ ̵﴿
|\   \  _  /   /|
 \\  / / \ \  // 
  `\(_/___\_)/'
    `--._.--'
  
 */


.grid{
  margin: auto;
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: 30px;
  .case{
    border:1px solid $noir;
    z-index: 1;
  }
}

